*{
    box-sizing: border-box;
}
body{
    background-color: rgba(65, 65, 169, 0.256);
    padding: 0;
    margin: 0;
    font-size: 22px;
}
.main{
    background-color: #808080cb;
    display: flex;
    justify-content: space-between;
    padding: 5px 7px;
    align-items: center;
}
.facebook{
    display: flex;
    gap: 10px;
    align-items: center;
}
input{
    border: none;
    border-radius: 15px;
    border: 2px solid black;
    padding: 5px;
    outline: 1px solid blue;
    width: 200px;
    
}
.options{
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
  
}
.options li{
    background-color: lightgray;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
